---

import { getPosts } from '../services/post';
import CardPosts from './CardPosts.astro';

const posts = getPosts().reverse();
---

<section id="portfolio">

    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Posts</h5>
            <h1>Notas y Posts.</h1>
        </div>   		
    </div> <!-- /section-intro--> 

    <ul class="cards">
        {
          posts.map((data) => (
            <CardPosts  title={data.title} description={data.descripcion[0]} 
                          img={data.img} url={data.url} fecha={data.fecha}  />
          ))
        }
    </ul>
    
</section>


<style>



.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 480px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}


</style>