---
import { getProyectos } from '../services/proyectosController'

import  CardProyectos from '../components/CardProyecto.astro'

const proyectos = getProyectos().reverse()
---

<section id="portfolio">

    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Portfolio</h5>
            <h1>Mis trabajos.</h1>
        </div>   		
    </div> <!-- /section-intro--> 

    <ul class="cards">
        {
          proyectos.map((data) => (
            <CardProyectos  title={data.titulo} description={data.desc} 
                          img={data.img[0]} repository={data.repo} download={data.download} 
                          logo={data.logo} url={data.url} tenology={data.tecnologies}  url_path={data.url_path}/>
          ))
        }
    </ul>
    
</section>


<style>



.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 480px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}


</style>